* {
    text-align:center;
}

:root {
 --button:rebeccapurple;
 --button-text:white;

}

header {
    text-align: left;
    font-size: larger;
}
header div {
    float: right;
    font-size: larger;
}

h1 {
    margin: 100px 0 50px 0;
    font-weight: bolder;
    font-size: xx-large;
}

p {
    font-size: 18px;
}

button {
    color: var(--button-text);
    background-color: var(--button);
    border-radius: 5px;
    margin: 10px;

}

li {
    list-style-type: none;
}